* {margin: 0; padding: 0;}

body {
    text-align: center;
}

#ascii {
	text-align: center;
    font-family: monospace;
    font-size: 1em;
    line-height: 0.692em;
}

#container {
    overflow: hidden;
    display: inline-block;
    margin: 20px;
    border: thin solid #000;
}

#cheat-sheet {
    filter: flipv fliph;
    width: 200px;
    height: 480px;
    border: thin solid #000;
    margin: 5px;
    float: left;
} 
#current-frame {
    background-color: #CCC;
    border: thin solid #000;
    margin: 5px;
    float: left;
    height: 480px;
    width: 640px;
    clear: none;
}
#thumbnails {
    margin: 5px;
    clear: left;
    float: left;
    height: 90px;
    width: 545px;
    background-color: #EEE;
    border: thin solid #000;
}
.button {
    background-color: #999;
    margin: 5px;
    float: right;
    height: 90px;
    width: 90px;
    border: thin solid #000;
}
