* {margin: 0; padding: 0;}

body {
    text-align: center;
}

#ascii {
	text-align: left;
    font-family: monospace;
    font-size: 1em;
    line-height: 0.692em;
    overflow: hidden;
}

#container {
    overflow: hidden;
    display: inline-block;
    margin: 20px;
    border: thin solid #000;
}

#cheat-sheet {
    filter: flipv fliph;
    width: 220px;
    height: 480px;
    border: thin solid #000;
    margin: 5px;
    float: left;
} 
#current-frame {
    background-color: #CCC;
    border: thin solid #000;
    margin: 5px;
    float: left;
    height: 480px;
    width: 640px;
    clear: none;
}
#thumbnails {
	margin: 5px;
	clear: left;
	float: left;
	height: 54px;
	width: 506px;
	background-color: #EEE;
	border: thin solid #000;
}

.button {
    background-color: #999;
    margin: 5px;
    float: left;
    height: 54px;
    width: 54px;
    border: thin solid #000;
}

#scroller{
	width: 506px;
	height: 54px;
    overflow: scroll;
    overflow-y: hidden;
    -ms-overflow-y: hidden;
    scrollbar-base-color: #ffeaff;
    white-space: nowrap;
}

#scroller a:link, a:visited, a:hover, a:active {
	color: black;
	font-size: 150%;
	text-decoration: none;
	display : inline-block;
	margin: 5px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-style: normal;
}

.checkbox {
    margin: 5px;
}

.textfield {
    width: 3em;
}